@using Core.Models
@using Services.Interfaces
@inject IOperationTypesService OperationTypesService


@if (CreateDialogOpen) {
    <DialogComponent Title="Create Operation Type" OnClose="@OnCreateDialogCloseAsync">
        <OperationTypesFormComponent OperationType="@currentType"/>
    </DialogComponent>
}

@if (DeleteDialogOpen) {
    <DialogComponent Title="Are you sure?"  OnClose="@OnDeleteDialogCloseAsync">
        Delete @currentType.Name?
    </DialogComponent>
}

<table class="table">
    <thead>
        <tr>
            <th>Operation Type Name</th>
            <th>Income/Expense</th>
            <th><button type="button" class="btn" @onclick="() => OpenCreateDialog()">Create</button></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var operationType in operationTypes) {
            <tr>
                <td>@operationType.Name</td>
                @if (operationType.IsIncome) {
                    <td>Income</td>
                }
                else {
                    <td>Expense</td>
                }
                <td><button type="button" class="btn" @onclick="() => OpenDeleteDialog(operationType)">Delete</button></td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<OperationType> operationTypes;
    private OperationType currentType;

    public bool DeleteDialogOpen { get; set; }
    public bool CreateDialogOpen { get; set; }

    protected override async Task OnInitializedAsync() {
        operationTypes = new List<OperationType>();
        currentType = new OperationType();
        await LoadDataAsync();
    }

    private void OpenCreateDialog() {
        CreateDialogOpen = true;
        StateHasChanged();
    }

    private async Task OnCreateDialogCloseAsync(bool accepted) {
        CreateDialogOpen = false;

        if (accepted) {
            await OperationTypesService.CreateAsync(currentType);
        }
        currentType = new OperationType();
        StateHasChanged();
        await LoadDataAsync();
    }


    private void OpenDeleteDialog(OperationType operationType) {
        DeleteDialogOpen = true;
        currentType = operationType;
        StateHasChanged();
    }

    private async Task OnDeleteDialogCloseAsync(bool accepted) {
        DeleteDialogOpen = false;
        if (accepted) {
            await OperationTypesService.DeleteAsync(currentType.Id);
        }
        currentType = new OperationType();
        StateHasChanged();
        await LoadDataAsync();
    }

    private async Task LoadDataAsync() {
        operationTypes = await OperationTypesService.GetAllAsync();
    }
}
